<style>
    body {
        font-family: "Poppins", sans-serif;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background: #f5f5f5;
        color: #333;
    }
    .container {
        width: 100%;
        max-width: 400px;
    }
    .card {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    h4 {
        text-align: center;
        color: #333;
    }
    form {
        display: flex;
        flex-direction: column;
    }
    input {
        padding: 10px;
        margin-bottom: 12px;
        border: 1px solid #ddd;
        border-radius: 4px;
        transition: border-color 0.3s ease-in-out;
        outline: none;
        color: #333;
    }
    input:focus {
        border-color: #555;
    }
    button {
        background-color: #3498db;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }
    button:hover {
        background-color: #2980b9;
    }
</style>

<div class="container">
    <div class="card">
        <h4>Admin Login</h4>
        <form id="admin-login-form">
            <input type="email" id="email" name="email" placeholder="Email" required />
            <input type="password" id="password" name="password" placeholder="Password" required />
            <button type="submit">Login</button>
        </form>
    </div>
</div>

<script>
    $("#admin-login-form").click(async function (e) {
        try {
            e.preventDefault();
            const payload = getPayload();
            if (!payload) return false;

            const apiCall = await fetch("/admin/login", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(payload),
            });
            const response = await apiCall.json();
            if (apiCall.status === 400 || !response.ok) {
                const message = response.message || response?.[0]?.errors?.issues?.[0]?.message || "Bad Request";
                return errorAlert(message);
            }
            swal.fire("Success", response.message, "success");
            setTimeout(() => location.href = "/admin/whats-app", 1500)
        } catch (error) {
            console.error(error);
            errorAlert(error.message);
        }
    });

    function getPayload() {
        const payload = {
            email: $("#email").val(),
            password: $("#password").val(),
        };

        if (!payload.email) return errorAlert("Email is required");
        if (!payload.password) return errorAlert("Password is required");

        return payload;
    }
</script>
